$font-main: 'Ancizar Sans', sans-serif;
$color-light: #f7f1ee;
$color-bg: #e9e0db;
$color-text: #1c1c1c;
$color-muted: #666;
$color-border: #d4af37;
$color-accent: #000;
$container-width: 1280px;
$product-container-width: 480px;
$spacing: 2rem;

