@use 'sass:color';
@use './assets/styles/styles';
@use './assets/styles/partials/variables' as vars;
// Contenu spécifique à la page d'accueil (index.html)

// Style du conteneur principal
.container {
  max-width: vars.$container-width;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.page-title {
  margin: 3rem 0 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2.5rem;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}

.product {
  background-color: #e9e0db;
  border: 1px solid vars.$color-border;
  padding: 1.2rem;
  text-align: center;
  transition: transform 0.2s ease;
  text-decoration: none;
  color: vars.$color-text;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  &:hover {
    transform: scale(1.02);
  }
  .overflow {
    overflow: hidden;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.1);
    }
  }

  .brand {
    font-size: 0.85rem;
    color: vars.$color-muted;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .title {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    font-weight: 500;
  }
  .price {
    font-size: 1rem;
    font-weight: bold;
    color: vars.$color-accent;
  }
}
.filters {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;

  label {
    font-weight: bold;
    font-size: 1.2rem;
  }

  select {
    padding: 0.5rem 1rem;
    border: 1px solid vars.$color-border;
    border-radius: 5px;
    font-size: 1rem;
  }
}

.no-products {
  font-size: 1.2rem;
  text-align: center;
  margin: 3rem 0;
  color: vars.$color-muted;
  font-style: italic;
  width: 100%;
  grid-column: 1 / -1; /* S'étend sur toutes les colonnes */
}

// Classe pour masquer les produits filtrés
.product-hidden {
  display: none !important;
}

// Style pour assurer une disposition cohérente de la grille
.products-container {
  &:after {
    content: "";
    flex: auto;
  }
}
